body {
	background-color: black;
}

.content {
	display: grid;
	grid-template: 5em 5em 5em / 5em 5em 5em;
}

.gameSquare {
	border: 1px solid white;
	background-color: black;
	cursor: pointer;
}

.gameSquare:hover {
	background-color: purple;
}

button {
	color: white;
}
