body {
	background-color: black;
}

header {
	color: white;
	display: flex;
	justify-content: space-around;
}

.scoreboard {
	display: flex;
	justify-content: center;
	margin: 1em;
}

.gameSpace {
	display: grid;
	grid-template: 5fr / 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: grid;
	grid-template: 5em 5em 5em / 5em 5em 5em;
}

.gameSquare {
	border: 1px solid white;
	background-color: black;
	cursor: pointer;
}

.gameSquare:hover {
	background-color: purple;
}

button,
.piece,
.scoreboard {
	color: white;
	font-size: 3em;
}
